*.bbl
*.log
*.aux
*.out
*.Renviron
*.Rout
*.toc
*.Rhistory
cache/*
figure/*
*concordance.tex
*.DS_Store
*.synctex.gz
model1/run_level*
model2/run_level*
model3/run_level*
model1/output/*
si/cache/*
si/figure/*
si/output/*
