*.bbl
*.log
*.aux
*.out
*.Renviron
*.Rout
*.toc
*.Rhistory
*.blg
ms.tex
*~
cache/*
figure/*
*concordance.tex
*.DS_Store
*.synctex.gz
model1/run_level_2/*
model3/run_level_2/*
si/cache/*
si/figure/*
si/output/*
si/si.tex
README.html
si/si_files/*
si/calibrateMod3Out.tex
si/ReplicateLee20Out.tex
